@mixin color {
    color: #ffd90c;
}

@mixin shadow {
    box-shadow: -4px 4px 22px 0px rgba(219, 206, 206, 0.75);
}

@mixin slatecolor {
    color: slategray;
}

@mixin backcolor {
    background-color: #ffd90c;
}